
<mat-card>
    <h1 text-align: center> Все Категории</h1>

    <div class="container">
        <div class="mat-card-content" *ngFor="let c of categories">
            <div class="left-content">
                <mat-icon mat-list-icon>category</mat-icon>
                <div class="title">{{ c.title }}</div>
            </div>
            <div class="description">{{ c.description }}</div>
            <div class="horizontal-line"></div>
        </div>
    </div>
    

    <div class="container text-center mt20">
        <button routerLink="/admin/add-category" mat-raised-button color="primary">Добавить новую категорию</button>
    </div>
</mat-card>
