.container {
    padding: 10px; /* Отступы слева и справа */
}

.mat-card-content {
    display: flex;
    flex-direction: column;
}

.left-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.left-content mat-icon {
    margin-right: 8px;
}

.title {
    font-size: 14px;

}

.description {
    margin-top: 8px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.mat-card {
    width: 100%;
    max-width: 400px; /* Максимальная ширина карточки */
    margin: 0 auto; /* Центрирование карточки на экране */

    /* Дополнительные стили, если нужно */
    padding: 20px;
    box-sizing: border-box;
}

/* Медиа-запрос для изменения размеров карточки на более узких экранах */
@media screen and (max-width: 600px) {
    .mat-card {
        max-width: 100%;
    }
}
