<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
               
                   
                  
                <section>
                    <h2>О CLOUDCOM</h2>
                    <p>
                      CLOUDCOM - это инновационный образовательный портал, предоставляющий студентам и преподавателям возможность тестирования и обучения в удобной онлайн среде.
                    </p>
                    <p>
                      Мы занимаемся разработкой и внедрением современных ИТ-решений на основе высоконагруженной интеграционной платформы для оказания услуг и исполнения функций.
                    </p>
                
                    <h2>Наша миссия</h2>
                    <p>
                      Мы стремимся обеспечить доступность качественного образования и поддерживать вас на пути к успеху!
                    </p>
                
                    <h2>Сотрудничество с Университетом Дубна</h2>
                    <p>
                      CLOUDCOM гордится партнерством с Университетом Дубна, вместе мы создаем уникальные образовательные возможности для студентов.
                    </p>
                
                    <div class="partners">
                      <img src="https://yt3.googleusercontent.com/ytc/AOPolaRINlOcA73F_ksGXD5q5yjzTcrp4MFObDZATdgOew=s900-c-k-c0x00ffffff-no-rj" alt="Логотип Университета Дубна">
                    </div>

              
                  </section>
                
            </div>
        </div>
    </div>
   
</div>